link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lato&family=Poppins:wght@600&family=Source+Code+Pro&display=swap")
link(rel="stylesheet", href="css/global.scss")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="keywords", content="illogicalapple")
meta(name="author" content="illogicalapple")
meta(name="charset" content="UTF-8")
script(src="js/global.js") 